<html>

<head>
  <link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
  <title>Единая гарантийная система</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>



  <header class="navbar">
    <section class="navbar-section">
        <a href="/players" class="btn">Перейти на страницу юридических лиц</a>
    </section>
    <section class="navbar-section">
      <div class="btn-group btn-group-block">
        </p><a href="/signin" class="btn">Вход</a>
        <a href="/signup" class="btn">Регистрация</a>
      </div>
    </section>
  </header>
  <div align="center">

    


    <div class="columns">
      <div class="column col-2 bg-image-1">
      </div>



      <div class="column col-8">
      
      <p align="center">
      <h1>Единая гарантийная система</h1>
    </p>
        <div class="container">
          <div class="example3 bg-image-main columns">
            <div class="example_text column text-light p-centered">
              <h6> </h6>
              <span><p></p><p></p>У большинства людей - огромное количество бумажных гарантийных талонов на купленную когда-то
                технику, которые беспорядочно хранятся дома и теряются в самый неподходящий момент. Сложно отследить в
                кипе бумаг, когда кончается гарантия на то или иное устройство.
                Единая гарантийная система призвана решить данную проблему, заменив электронными гарантийными талонами
                устаревшие бумажки.
                Также она обеспечивает защиту от контрафакта, однозначно идентифицирует владельца устройства по его id,
                прозрачно фиксирует действия сервисных центров, исключая обман владельца устройства.
              </span>
            </div>
            <div class="column"></div>
          </div>
        </div>
      </div>

      <div class="column col-2 bg-image-1">
      </div>
    </div>

</body>

</html>