<html>
<head>
<title>Единая гарантийная система</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>

<header class="navbar">
  <section class="navbar-section" ></section>
  <section class="navbar-section">
    <div class="btn-group btn-group-block" >
      </p><a href="/signin.html" class="btn">Вход</a>
      <a href="/signup.html" class="btn">Регистрация</a>
    </div> 
      </section>
</header>
<div align="center">

<p align="center"><h1>Единая гарантийная система</h1></p>

<img src="/static/d.jpg" class="img-responsive ..." alt="...">
<div class="columns">
    <div class="column col-2"></div>
    <div class="column col-8">
        <p class="text-center">текстик про наш проект и зачем он нужентекстик про наш проект и зачем он нужентекстик пр
            о наш проект и зачем он нужентекстик про наш проект и зачем он нужентекстик про наш проект и зачем он 
          </p>
    </div>
    <div class="column col-2"></div>
  </div>

</body>
</html>

