<html>
<head>
<title>Единая гарантийная система</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <header class="navbar">
        <section class="navbar-section" ></section>
        <section class="navbar-section">
          <div class="btn-group btn-group-block" >
            </p><a href="/login.html" class="btn">Вход</a>
            <a href="/login.html" class="btn">Регистрация</a>
          </div> 
            </section>
      </header

<p align="center"><h1>Регистрация</h1></p>

<div class="form-group">
  <label class="form-label" for="input-example-1">Введите email</label>
  <p align="center"><input class="form-input" type="text" id="input-example-1" placeholder="example@yandex.ru"></p>
</div>