<html>

<head>
  <title>Единая гарантийная система</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
  <header class="navbar">
    <section class="navbar-section"></section>
    <section class="navbar-section">
      <div class="btn-group btn-group-block">
        </p><a href="/signin" class="btn">Вход</a>
        <a href="/signup" class="btn">Регистрация</a>
      </div>
    </section>
  </header>


  <div class="columns">
    <div class="column col-2"></div>
    <div class="column col-8">
      <div class="text-center">
        <h1>Регистрация</h1>
      </div>
      <form action="/signup" method="POST">
        <label class="form-label" for="input-example-1">Введите email</label>
        <div class="input-group">
          <input class="form-input" type="email" email="input-example-1" name="email" placeholder="example@yandex.ru">
          <input type="hidden" name="password" value="pass">
          <button class="btn">Зарегистрироваться</button>
        </div>
      </form>
      </p>
    </div>
    <div class="column col-2">
    </div>
  </div>
</body>