<html>
<head>
<link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
<title>Гарантийная система</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
     <header class="navbar">
    <section class="navbar-section">
    <a href="/" class="btn">Перейти на страницу для пользователей</a>
    </section>
    <section class="navbar-section">
      <div class="btn-group btn-group-block">
        </p><a href="/players/signin" class="btn">Вход</a>
        <a href="/players/signup" class="btn">Регистрация</a>
      </div>
    </section>
  </header>

<div class="columns">
    <div class="column col-2 bg-image-4">
    </div>
    <div class="column col-8">
      <div class="text-center">    
        <h2>Производители:</h2>
      </div>
      <table class="table">
      <thead>
       <tr>
        <th>Наименование</th>
        <th>Адрес</th>
        <th>Регистрационный номер</th>
      </tr>
      </thead>
      <tbody>
      {% for manufacturer in listOfManufacterer %}
             <tr class="active">
             <td>
                <a href="/players/manufacturer/{{manufacturer._id}}"> {{ manufacturer.name }} </a>
             </td>
             <td>
                {{ manufacturer.physicalAddress}}
            </td>
            <td>
                {{ manufacturer.registrationNumber }}   
            </td>
       {% endfor %}
    </tbody>
    </table>

    <div class="text-center">    
        <h2>Продавцы:</h2>
      </div>
      <table class="table">
      <thead>
       <tr>
        <th>Наименование</th>
        <th>Адрес</th>
        <th>Регистрационный номер</th>
      </tr>
      </thead>
      <tbody>
      {% for vendor in listOfVendors %}
             <tr class="active">
             <td>
                <a href="/players/vendor/{{vendor._id}}"> {{vendor.name}} </a>
             </td>
             <td>
                {{vendor.physicalAddress}}
            </td>
            <td>
                {{vendor.registrationNumber}}   
            </td>
       {% endfor %}
    </tbody>
    </table>

    <div class="text-center">    
        <h2>Сервис-Центры:</h2>
      </div>
      <table class="table">
      <thead>
       <tr>
        <th>Наименование</th>
        <th>Адрес</th>
        <th>Регистрационный номер</th>
      </tr>
      </thead>
      <tbody>
      {% for serviceCenter in listOfServiceCenters %}
             <tr class="active">
             <td>
                <a href="/players/serviceCenter/{{serviceCenter._id}}"> {{serviceCenter.name}} </a>
             </td>
             <td>
                {{serviceCenter.physicalAddress}}
            </td>
            <td>
                {{serviceCenter.registrationNumber}}   
            </td>
       {% endfor %}
    </tbody>
    </table>

    
</div>
    <div class="column col-2 bg-image-4">
   </div>
    </div>

  </body>
  </html>