<html>
<head>
<link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
<title>Товары</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>


  <header class="navbar">
    <section class="navbar-section" >
    </section>
    <section class="navbar-section">
       <div class="btn-group btn-group-block" >
        <a href="/players/vendor/requests/list" class="btn">Запросы</a>
        <a href="/players/vendor/partners/list" class="btn">Партнеры</a>
        <a href="/players/vendor/In" class="btn">Товары</a>
                
        <a href="/players/signout" class="btn">Выход</a>
        </div>
    </section>
  </header>



  </body>
  </html>