<html>

<head>
    <link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>


    <header class="navbar">
        <section class="navbar-section"></section>
        <section class="navbar-section">
            <div class="btn-group btn-group-block">
                </p><a href="/players/signin" class="btn">Вход</a>
                <a href="/players/signup" class="btn">Регистрация</a>
            </div>
        </section>
    </header>


    <div class="columns">
        <div class="column col-2 bg-image-3"></div>
        <div class="column col-8">
            <div class="text-center">
                <h1>Регистрация</h1>
            </div>
            <form action="/players/signup" method="POST">

                <label class="form-label" for="input-example-1">Введите id владельца:</label>
                <input class="form-input" type="text" id="input-example-1" name="publicKey" placeholder="id">

                <label class="form-label" for="input-example-2">Введите наименование организации:</label>
                <input class="form-input" type="text" id="input-example-2" name="name" placeholder="название организации">


                <label class="form-label" for="input-example-3">Введите физический адрес:</label>
                <input class="form-input" type="text" id="input-example-3" name="physicalAddress"
                    placeholder="адрес">



                <label class="form-label" for="input-example-4">Введите регистрационный номер:</label>
                <input class="form-input" type="text" id="input-example-4" name="registrationNumber"
                    placeholder="ИНН">


                <div class="form-group">
                    <select class="form-select" name="type">
                        <option value="">Выберите тип</option>
                        <option value="Manufacturer">Производитель</option>
                        <option value = "Vendor">Продавец</option>
                        <option value = "ServiceCenter">Сервис-центр</option>
                    </select>
                </div>


                <div class="p-centered">
                    <input type="hidden" name="password" value="pass">
                    <button class="btn">Зарегистрироваться</button>
                </div>
            </form>

        </div>
        <div class="column col-2 bg-image-3">
        </div>
    </div>
</body>
</html>