<html>
<head>
<title>Единая гарантийная система</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
        <header class="navbar">
                <section class="navbar-section" ></section>
                <section class="navbar-section">
                  <div class="btn-group btn-group-block" >
                    </p><a href="/login.html" class="btn">Вход</a>
                    <a href="/login.html" class="btn">Регистрация</a>
                  </div> 
                    </section>
                </header>
    
<h1>Запросы:</h1>

</body>
</html>