<html>
<head>
<link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
<title>Запросы</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
       <header class="navbar">
    <section class="navbar-section" >
    </section>
    <section class="navbar-section">
       <div class="btn-group btn-group-block" >
        <a href="/guarantee/list" class="btn">Гарантии</a>
        <a href="/signout" class="btn">Выход</a>
        </div>
    </section>
  </header>



<div class="columns">
    <div class="column col-2 bg-image-2">
    </div>
    <div class="column col-8">
      <div class="text-center">    
        <h1>Запросы:</h1>
      </div>
      <ul>
      {% for reguest in listOfRequests %}
             <li>

<table class="table">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td>{{request}}</td>
      <td><a href="/requests/apply/{{request}}" class="btn">Подтвердить</a></td>
    </tr>
  </tbody>
</table>  
            </li>
             {% endfor %}
        </ul>
</div>
    <div class="column col-2 bg-image-2">
   </div>
    </div>
</body>
</html>