<html>
<head>
<link rel="shortcut icon" href="/static/icon1.ico" type="image/x-icon">
<title>Партнеры</title>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
      <header class="navbar">
    <section class="navbar-section" >
      <a href="/players/manufacturer/partners/addPartners" class="btn">Добавить</a>
    </section>
    <section class="navbar-section">
       <div class="btn-group btn-group-block" >
       
        <a href="/players/manufacturer/requests/list" class="btn">Запросы</a>
        <a href="/players/manufacturer/partners/list" class="btn">Партнеры</a>
        <a href="/players/manufacturer/In" class="btn">Товары</a>
                
        <a href="/players/signout" class="btn">Выход</a>
        </div>
    </section>
  </header>


<div class="columns">
    <div class="column col-2 bg-image-7">
    </div>
    <div class="column col-8">
      <div class="text-center">    
        <h1>Продавцы:</h1>
      </div>
      <ul>
      {% for Vendor in  listOfVendors %}
             <li>

<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr class="active">
      <td> Название: {{Vendor.name}}</td>
      <td> ID: {{Vendor._id}}</td>
    </tr>
  </tbody>
</table>
               
            </li>
            
        </ul>
         {% endfor %}

      <div class="text-center">    
        <h1>Партнеры-сервис-центры:</h1>
      </div>
      <ul>
      {% for ServiceCenter in  listOfServiceCenters %}
            <li>
                <table class="table">
  <thead>
  </thead>
  <tbody>
    <tr class="active">
      <td> Название: {{ServiceCenter.name}}</td>
      <td> ID: {{ServiceCenter._id}}</td>
      <td> Адрес: {{ServiceCenter.physicalAddress}}</td>
      
    </tr>
  </tbody>
</table>
            </li>
             
        </ul>  {% endfor %}
</div>
    <div class="column col-2 bg-image-7">
   </div>
    </div>
</body>
</html>